{% extends "auctions/layout.html" %}
{% load static %}
{% block head %}
<head>
<link href="{% static 'auctions/index_styles.css' %}" rel="stylesheet">
</head>
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    <br>


    {% for item in List %}
   <a href="{% url 'listing' item.id %}"  > <div id="listing_item" >
        <div id = "item_details">
            <p>{{item.List_name}}</p>
            <br>
            <p>{{item.List_description}}</p>
            <br>
                <p>{{item.List_start_price}}</p>
            <br>
        </div>
            {% if item.List_image_url != NULL %}
                <div id = "image">
                <img src={{item.List_image_url}} width="400" height="300" style="align-items:left;">     
                </div> 
            {% endif %} 

           

        </div> </a>
    <br> 
    {%endfor%}

{% endblock %}