{% extends "auctions/layout.html" %}
{% load static %}
{% block head %}
    <head>
    <link href="{% static 'auctions/index_styles.css' %}" rel="stylesheet">
    </head>
{% endblock %}
{% block body %}
<h3>{{message}}</h3>
    {% for item in List %}
        <div id = "item_details">
            <p>{{item.List_name}}</p>
            <p>{{item.List_description}}</p>
                <p>{{item.List_start_price}}</p>
            <br>
        </div>

        {% if item.List_image_url != NULL %}
            
            <div id = "image">
            <img src={{item.List_image_url}} width="400" height="300" style="align-items:left;">     
            </div> 
        {% endif %} 

           

        {% if user.is_authenticated %}
            
            {%if listing_poster == False%}

                {%if bid_closed == False%}
                    <br>  
                        <a href="{% url 'wishlist' item.id %}"> {{button_label}} </a> 
                    <br>
                    <form method="POST"	action="{% url 'make_bid' item.id %}">
                        {% csrf_token %}
                        <input type="number" placeholder="Bid" name="bid_amount">
                        <input type="Submit" value="Submit">
                    </form>
                {% else %}
                    <b>{{bid_message}}</b>
                {%endif%}

            {%else%}
            {%if bid_closed == False%}
                    <a href="{% url 'close_bid' item.id%}">Close Bid</a>
                    {%endif%}
            {%endif%}
            
        {% else %}
            <b1>Loggin to add to wishlist</b1>
        {% endif %}
        </div>
      
    {%endfor%}

{% endblock %}