{% extends "auctions/layout.html" %}

{% block body %}
<h1>Create a new listing.</h1>
<div>
    <form method="POST" action="{% url 'create_listing' %}">
        {% csrf_token %}
        <input type="text" placeholder="Item Title" name="item_name">
        <br></br>
        <textarea id="item_description" name="item_description" rows="4" cols="50" placeholder="Item description"></textarea>
        <br></br>
        <input type="text" placeholder="Image URL" name="image_url">
        <br></br>
        <input type="number" placeholder="Starting Price" name="start_price">
        <br></br>
        <select name="category_list" id="category_list">
            {%for category in categories%}
                <option value={{category.id}}>{{category.categories}}</option>
            {%endfor%}
        </select>
        <input type="Submit" value="Submit">
    </form>
</div>
{% endblock %}